<%- include('header') %>

<h2 style="text-align: center;">This is the about page</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quaerat amet totam non quibusdam, unde distinctio aliquid reprehenderit exercitationem possimus magni similique debitis, molestias praesentium quod assumenda? Quidem veniam, molestiae asperiores tempora enim magni neque ad consequuntur libero exercitationem, quae alias blanditiis non officiis nam voluptatibus quam, reiciendis optio ducimus perferendis voluptate amet cum. Eius eaque libero obcaecati porro natus enim delectus. Dolorum nihil eligendi, ea laboriosam dolores esse officiis facere cum itaque consequatur voluptatibus repellat nostrum, saepe eaque maxime vitae explicabo. Id, at, reprehenderit maiores rem minus dignissimos nemo autem nobis omnis in labore possimus incidunt natus, sunt inventore.</p>

<%- include('footer') %> 